#Establishments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  .establishments-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
