#Establishment {
    .establishment {
        position: relative;
        background: $white;
        border-radius: 10px;
        // padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        overflow: hidden;

        &:hover {
            .card-footer {
                button {
                    visibility: visible;
                    transform: scale(1);
                    &:hover {
                        color: $custom-black;
                        &::before {
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        .card-header {
            background: transparent;
            border-bottom: none;

            .img-container {
                position: relative;
                min-width: 200px;
                height: 520px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 30px;
                    width: 100%;
                    border-top-left-radius: 40px;
                    background: $white;
                }
        
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0px 40px;
            margin-bottom: 40px;

            .card-title {
                position: relative;
                display: flex;
                gap: 40px;
                margin-bottom: 40px;

                .img-container {
                    margin-top: -80px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 150px;
                    max-width: 150px;
                    height: 150px;
                    border-radius: 10px;
            
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }
                .rate-stars {
                    display: flex;
                    align-items: flex-start;
                    margin-top: 10px;
                    gap: 10px;
                    .rate {
                        line-height: normal;
                        margin-bottom: 0;
                    }
                }
            }

            .comments {
                .slick-slider {
                    display: flex;
                    gap: 10px;
                    .custom-arrow {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                    .slide {
                        .slide-content {
                            margin: 10px;
                            padding: 20px;
                            border-radius: 10px;
                            background: $light-gray;
                            color: $custom-black;
                            .comment-user {
                                display: flex;
                                justify-content: space-between;
                                gap: 20px;

                                .user-picture {
                                    position: relative;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    min-width: 50px;
                                    max-width: 50px;
                                    height: 50px;
                                    border-radius: 10px;
                            
                                    img {
                                        object-fit: cover;
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 10px;
                                    }
                                }

                                .username {
                                    font-size: 16px;
                                    font-weight: 600;
                                    align-self: center;
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
            }

            h2 {
                font-size: 32px;
                text-transform: uppercase;
                font-weight: 700;
                color: $dark-primary;
            }
            p {
                font-size: 14px;
                line-height: 30px;
                text-align: justify;
            }
        }

        .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 40px;
            margin-bottom: 40px;
            gap: 20px;
            background: transparent;
            border-top: none;

            .contact {
                display: flex;
                gap: 10px;
                margin-bottom: 10px;
            }

            .social {
                display: flex;
                gap: 10px;
                align-self: flex-end;
            }

            p {
                font-size: 14px;
                margin-bottom: 0;
            }
            button {
                position: relative;
                visibility: hidden;
                padding: 10px 40px;
                background: transparent;
                border-radius: 20px;
                border: solid 1px $secondary;
                color: $secondary;
                transform: scale(0);
                overflow: hidden;
                transition: transform 0.2s cubic-bezier(.32,2,.55,.27);

                &::before {
                    content: '';
                    position: absolute;
                    background: rgba(248, 174, 54, 0.8);
                    top: 0;
                    left: 0;
                    z-index: -1;
                    height: 100%;
                    width: 100%;
                    border-radius: 20px;
                    overflow: hidden;
                    transition: transform 0.2s ease-in-out;
                    transform: scale(0);
                }
            }
        }
    }
    
    .services {
        position: sticky;
        top: 20px;
        background: $white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        overflow: hidden;

        .table-container{
            width: 100%;
            max-height: 450px;
            margin-right: 10px;
            overflow-x: hidden;
            
            table {
                table-layout: auto;
                margin-right: 10px;
                width: 100%;

                thead {
                    position: sticky;
                    top: 0;
                    z-index: 2;
                }
                thead th,
                tbody td {
                    padding: 10px 10px 10px 0px;
                    background: $white;
                    color: $dark-primary;
                }
                td {
                    p {
                        width: 100%;
                        height: 100%;
                        padding: 10px 20px;
                        margin-bottom: 0;
                        background: $light-primary;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
