.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    .list {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        padding: 0;
        margin: 0;
        
        .star {
            display: inline-block;
            cursor: pointer;
            svg {
                width: 18px;
                height: auto;
            }
            &.disabled{
                cursor: default;
            }
        }
    }
}



@media screen and (max-width: 767px) {
    .rating {
        .list {
            width: 125px;
            padding: 0;
            margin: 0 0px 0 0;
        }
    }
}