#tab-component {
  .tabs-title {
    border: none;
    gap: 20px;
    &.stretch {
      justify-content: space-between;
      .nav-item {
        flex: 1;
        .nav-link {
          flex: 1;
        }
      }
    }

    .nav-link {
      border: none;
      text-align: center;
      color: $primary;
      background-color: $primary-gray;
      border-radius: 10px;
      font-size: 16px;
      text-transform: capitalize;
      position: relative;
      box-sizing: border-box;
      border: 1px solid transparent;
      transition: .1s ease-in;
      &:hover{
        border: 1px solid $primary;
        text-decoration: none;
      }
      &.active{
        text-decoration: none;
        outline: none;
        box-shadow: none;
        background-color: $primary;
        color: $white;
      }
    }
  }
}
