// Theme Colors
$primary: #3B185F;
$primary-gradient: linear-gradient(90deg, #AD7756 0%, #865946 97.99%);
$secondary: #F8AE36;
$secondary-gradient: linear-gradient(90deg, #4B4B4B 0%, #717787 97.99%);
$info: #5CA0C8;
$success: #25B883;
$danger: #DC5C5C;
$dark: #494949;

// Custom Colors
$green:  #25B883;
$red: #DC5C5C;
$dark-primary: #260d40;
$light-primary: #f6edff;
$primary-gray: #F8F5FB;

$dark-secondary: #C47C0A;
$light-secondary: #fff2de;
$secondary-gray: #fff2de;

$light-gray: #E5E5E5;
$white: #ffffff;
$black: #333333;
$custom-black: #4B4B4B;

// Custom Colors
$font-table: 0.75rem;

// Transitions
$transition-default: ease-in-out 300ms;
$transition-fast: ease-in-out 200ms;
$transition-slow: ease-in-out 600ms;

// Shadows
$primary-shadow: 0px 2px 6px rgba(146, 146, 146, 0.25);